Bing_3p
Bing_3p_updated
Bing_monod
Bing_plat
Kordia (C )_3p
Kordia (C )_3p_updated
Kordia (C )_monod
Kordia (C )_plat
Kordia (M)_3p
Kordia (M)_3p_updated
Kordia (M)_monod
Kordia (M)_plat
Lapins_3p
Lapins_3p_updated
Lapins_monod
Lapins_plat
Rainier_3p
Rainier_3p_updated
Rainier_monod
Rainier_plat
Regina_3p
Regina_3p_updated
Regina_monod
Regina_plat
Santina_3p
Santina_3p_updated
Santina_monod
Santina_plat
Skeena_3p
Skeena_3p_updated
Skeena_monod
Skeena_plat
Sweetheart_3p
Sweetheart_3p_updated
Sweetheart_monod
Sweetheart_plat
